
/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses 
            le cadratin se calcul par rapport à la taille du cadratin parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

*/

:root{
    /*
    le :root permet de "surcharger" le style css imposé par le navigatuer,
    mais permet aussi d'autres actions qui vont faciliter 
    la création du style d'un site
    */
    font-family: Arial, Helvetica, sans-serif;
    --nav-bg-color: #1E1917; 
    /* les couleurs web sont en rvb */
    --nav-link-color: rgb(168, 177, 172);
}

*, *::before, *::after{
    box-sizing:border-box;
}

/* déclaration des classes css*/

/* test sur le em et rem */
.deuxEm{
    font-size: 2em;
}

.deuxRem{
    font-size: 2rem;
}

.divContent100{
    border: 1px solid black;
    height: 102px;
    width: 102px;
}

.divTest{
    background-color: coral;
    height: 100%;
    width: 50%;
}

.test-size{
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}

.textImage{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

/* déclarations css générales sur les éléments */

h1{
    margin: 0;
}

figure{
    display: flex;
    flex-direction: column;
    margin: 0;
}

img,
video{
    max-width: 100%;
}

ul.oeuvres, ul.oeuvres ul{
    list-style-type: none;
    padding-left: 20px;
}

ul.filmo, ul.filmo ul{
    list-style-type: none;
    padding-left: 20px;
    columns: 2;
}

table{
    border-collapse: collapse;
    max-width: 100%;
}

table td, table th{
    word-break: break-word;
}

/* déclarations css sur les éléments dans la structure */

body{
    margin:0;
}

body > header{
    height: 33vh;
    background: url('../images/cropped-wallhaven-fallout-4-01-3-1536x922.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header > h1{
    color: white;
    text-shadow: 0 0 10px black;
}

body > nav > ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;
    margin: 0;
    background-color: var(--nav-bg-color);
}

body > nav > ul > li > a,
body > nav > ul > li > a:visited{
    padding-left: 10px;
    padding-right: 10px;
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

body > nav > ul > li > a:hover{
    background-color: var(--nav-link-color);
    color: var(--nav-bg-color);
}

body > main{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 100%;
}

body > main > section > article{
    background-color: var(--nav-bg-color);
    color: var(--nav-link-color);
    padding: 5px;
    margin-top: 10px;
}

@media (min-width: 576px){
    body > main{
        width: 540px;
    }
}

@media (min-width: 768px){
    body > main{
        width: 720px;
    }
}

@media (min-width: 992px){
    body > main{
        width: 960px;
    }

    .textImage div{
        max-width: 600px;
    }
    
    .textImage figure{
        max-width: 300px;
    }

    body > main > section{
       display: flex;
       flex-wrap: wrap;
    }

    body > main > section > article{
        width: 50%;
    }

    body > main > section > article:last-child:nth-of-type(2n+1){
        width: 100%;
    }
}

@media (min-width: 1200px){
    body > main{
        width: 1140px;
    }

    .textImage div{
        max-width: 800px;
    }
    
    .textImage figure{
        max-width: 300px;
    }
}

@media (min-width: 1400px){
    body > main{
        width: 1320px;
    }

    .textImage div{
        max-width: 1000px;
    }
    
    .textImage figure{
        max-width: 300px;
    }

    body > main > section > article{
        width: 33%;
    }

    body > main > section > article:last-child:nth-of-type(3n+1){
        width: 100%;
    }

    body > main > section > article:last-child:nth-of-type(3n+2){
        width: 66%;
    }
}